<section id="order" class="row justify-content-center mb-5 text-append">
  <article class="col-12 col-sm-12 col-lg-6 hide" *ngIf="isVisibleForm">
    <article class="col-12 hide">
      <h2 class="text-center mb-5">Сделать заказ</h2>
    </article>
    <form action="" id="form" class="row g-3 mb-5"
          [formGroup]="orderForms"
          (ngSubmit)="onSubmit()">
      <fieldset class="col-md-4">
        <label for="inputName" class="form-label">Имя</label>
        <input
          type="text"
          id="inputName"
          class="form-control"
          formControlName="name"
          placeholder="Введите имя"
        />
        <div *ngIf="orderForms.get('name')?.touched && orderForms.get('name')?.invalid" class="text-danger mt-1">
          <div *ngIf="orderForms.get('name')?.hasError('required')">Имя обязательно</div>
          <div *ngIf="orderForms.get('name')?.hasError('pattern')">Имя должно начинаться с заглавной буквы</div>
        </div>
      </fieldset>

      <!-- Фамилия -->
      <fieldset class="col-md-4">
        <label for="inputLastName" class="form-label">Фамилия</label>
        <input
          type="text"
          id="inputLastName"
          class="form-control"
          formControlName="last_name"
          placeholder="Введите фамилию"
        />
        <div *ngIf="orderForms.get('last_name')?.touched && orderForms.get('last_name')?.invalid"
             class="text-danger mt-1">
          <div *ngIf="orderForms.get('last_name')?.hasError('required')">Фамилия обязательна</div>
          <div *ngIf="orderForms.get('last_name')?.hasError('pattern')">Фамилия должна начинаться с заглавной буквы
          </div>
        </div>
      </fieldset>

      <!-- Телефон -->
      <fieldset class="col-md-4">
        <label for="inputPhone" class="form-label">Телефон</label>
        <input
          type="text"
          id="inputPhone"
          class="form-control"
          formControlName="phone"
          placeholder="+7 (999) 999-99-99"
          (keydown)="preventSpace($event)"
        />
        <div *ngIf="orderForms.get('phone')?.touched && orderForms.get('phone')?.invalid" class="text-danger mt-1">
          <div *ngIf="orderForms.get('phone')?.hasError('required')">Телефон обязателен</div>
          <div *ngIf="orderForms.get('phone')?.hasError('pattern')">Неверный формат. Пример: +7 (999) 999-99-99</div>
        </div>
      </fieldset>

      <!-- Страна -->
      <fieldset class="col-md-6">
        <label for="inputState" class="form-label">Страна</label>
        <input
          type="text"
          id="inputState"
          class="form-control"
          formControlName="country"
          placeholder="Введите страну"
        />
        <div *ngIf="orderForms.get('country')?.touched && orderForms.get('country')?.invalid" class="text-danger mt-1">
          <div *ngIf="orderForms.get('country')?.hasError('required')">Страна обязательна</div>
        </div>
      </fieldset>

      <!-- Индекс -->
      <fieldset class="col-md-6">
        <label for="inputIndex" class="form-label">Индекс</label>
        <input
          type="number"
          id="inputIndex"
          class="form-control"
          formControlName="zip"
          placeholder="Введите индекс"
        />
        <div *ngIf="orderForms.get('zip')?.touched && orderForms.get('zip')?.invalid" class="text-danger mt-1">
          <div *ngIf="orderForms.get('zip')?.hasError('required')">Индекс обязателен</div>
          <div *ngIf="orderForms.get('zip')?.hasError('pattern')">Индекс должен содержать 6 цифр</div>
        </div>
      </fieldset>

      <!-- Адрес -->
      <fieldset class="col-md-6">
        <label for="inputAddress" class="form-label">Адрес</label>
        <input
          type="text"
          id="inputAddress"
          class="form-control"
          formControlName="address"
          placeholder="Введите адрес"
        />
        <div *ngIf="orderForms.get('address')?.touched && orderForms.get('address')?.invalid" class="text-danger mt-1">
          <div *ngIf="orderForms.get('address')?.hasError('required')">Адрес обязателен</div>
          <div *ngIf="orderForms.get('address')?.hasError('pattern')">Адрес должен содержать только буквы, цифры,
            запятые и точки
          </div>
        </div>
      </fieldset>

      <!-- Продукт (Чай) -->
      <fieldset class="col-md-6">
        <label for="inputTea" class="form-label">Чай</label>
        <input
          type="text"
          id="inputTea"
          class="form-control"
          formControlName="product"
          [readonly]="inputReadonly"
          placeholder="Название продукта"
        />
      </fieldset>

      <!-- Комментарий -->
      <fieldset class="col-md-12">
        <label for="inputComment" class="form-label">Комментарий к заказу</label>
        <textarea
          id="inputComment"
          class="form-control"
          formControlName="comment"
          placeholder="Комментарий к заказу"
        ></textarea>
      </fieldset>
      <fieldset class="col-md-12">
        <button class="btn btn-primary px-5" [disabled]="orderForms.invalid || orderForms.disabled">Отправить</button>
        <p class="text-danger mt-2" *ngIf="responseError">{{responseErrorText}}</p>
      </fieldset>
    </form>
  </article>
  <article class="m-auto fs-2 text-center" *ngIf="!isVisibleForm">Спасибо за заказ!</article>
</section>


<!--<section id="order" class="row justify-content-center mb-5 text-append">-->
<!--  <article class="col-12 col-sm-12 col-lg-6 hide" *ngIf="isVisibleForm">-->
<!--    <article class="col-12 hide">-->
<!--      <h2 class="text-center mb-5">Сделать заказ</h2>-->
<!--    </article>-->
<!--    <form action="" id="form" class="row g-3 mb-5"-->
<!--          [formGroup]="orderForms"-->
<!--          (ngSubmit)="onSubmit()">-->
<!--      <fieldset class="col-md-4">-->
<!--        <label for="inputName" class="form-label">Имя</label>-->
<!--        <input type="text" name="name" class="form-control" id="inputName" formControlName="name">-->
<!--        <div *ngIf="orderForms.get('name')?.touched && orderForms.get('name')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('name')?.errors?.['required']">Имя обязательно</div>-->
<!--          <div *ngIf="orderForms.get('name')?.errors?.['pattern']">Введите корректное имя</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-4">-->
<!--        <label for="inputLastName" class="form-label">Фамилия</label>-->
<!--        <input type="text" name="lastName" class="form-control" id="inputLastName" formControlName="last_name">-->
<!--        <div *ngIf="orderForms.get('last_name')?.touched && orderForms.get('last_name')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('last_name')?.errors?.['required']">Фамилия обязательна</div>-->
<!--          <div *ngIf="orderForms.get('last_name')?.errors?.['pattern']">Введите корректную фамилию</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-4">-->
<!--        <label for="inputPhone" class="form-label">Телефон</label>-->
<!--        <input type="tel" name="phone" class="form-control" id="inputPhone" formControlName="phone" maxlength="12" (keydown)="preventSpace($event)">-->
<!--        <div *ngIf="orderForms.get('phone')?.touched && orderForms.get('phone')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('phone')?.errors?.['required']">Телефон обязателен</div>-->
<!--          <div *ngIf="orderForms.get('phone')?.errors?.['pattern']">Введите номер в формате 11 цифр</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-6">-->
<!--        <label for="inputState" class="form-label">Страна</label>-->
<!--        <input type="text" name="country" class="form-control" id="inputState" formControlName="country">-->
<!--        <div *ngIf="orderForms.get('country')?.touched && orderForms.get('country')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('country')?.errors?.['required']">Страна обязательна</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-6">-->
<!--        <label for="inputIndex" class="form-label">Индекс</label>-->
<!--        <input type="text" name="zip" class="form-control" id="inputIndex" formControlName="zip">-->
<!--        <div *ngIf="orderForms.get('zip')?.touched && orderForms.get('zip')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('zip')?.errors?.['required']">Индекс обязателен</div>-->
<!--          <div *ngIf="orderForms.get('zip')?.errors?.['pattern']">Введите 6-значный индекс</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-6">-->
<!--        <label for="inputAddress" class="form-label">Адрес</label>-->
<!--        <input type="text" name="address" class="form-control" id="inputAddress" formControlName="address">-->
<!--        <div *ngIf="orderForms.get('address')?.touched && orderForms.get('address')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('address')?.errors?.['required']">Адрес обязателен</div>-->
<!--          <div *ngIf="orderForms.get('address')?.errors?.['pattern']">Введите корректный адрес</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-6">-->
<!--        <label for="inputTea" class="form-label">Чай</label>-->
<!--        <input type="text" name="product" class="form-control" id="inputTea" formControlName="product" [readonly]="inputReadonly">-->
<!--        <div *ngIf="orderForms.get('product')?.touched && orderForms.get('product')?.invalid" class="text-danger">-->
<!--          <div *ngIf="orderForms.get('product')?.errors?.['required']">Поле "Чай" обязательно</div>-->
<!--        </div>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-12">-->
<!--        <label for="inputComment" class="form-label">Комментарий к заказу</label>-->
<!--        <textarea type="text" name="comment" class="form-control" id="inputComment" formControlName="comment"></textarea>-->
<!--      </fieldset>-->
<!--      <fieldset class="col-md-12">-->
<!--        <button class="btn btn-primary px-5" [disabled]="orderForms.invalid || orderForms.disabled">Отправить</button>-->
<!--        <p class="text-danger mt-2" *ngIf="responseError">{{responseErrorText}}</p>-->
<!--      </fieldset>-->
<!--    </form>-->
<!--  </article>-->
<!--    <article class="m-auto fs-2 text-center" *ngIf="!isVisibleForm">Спасибо за заказ!</article>-->
<!--</section>-->
